<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"w-full") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= render 'shared/header', name: 'REGISTER', action:f %>
  <div class="w-full flex flex-row bg-white mt-5 items-center p-1">
  <img src=<%=asset_path('user.svg')%> class="w-10 h-10 ml-2 color-u">
  <p class="text-text-m ml-3"> Upload picture</p>
  </div>
    <hr class="w-full bg-text">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, placeholder:"Name", class:"w-full border-0 placeholder-text-m" %>
    <hr class="w-full bg-text">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, placeholder:"Email", class:"w-full border-0 placeholder-text-m" %>
    <hr class="w-full bg-text">
    <%= f.password_field :password, autocomplete: "new-password", required: true, placeholder:"Password", class:"w-full border-0 placeholder-text-m" %>
    <hr class="w-full bg-text">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, placeholder:"Password confirmation", class:"w-full border-0 placeholder-text-m" %>

<% end %>

