<%= render 'shared/header', name: 'Categories' %>
<div class="w-full flex flex-col justify-center items-center">
        <div class="w-full bg-main flex flex-col items-center justify-items-center">
            <p class="text-text-w font-nova font-light">Most recent</p>
            <span class="text-text-w font-nova text-2xl leading-3">·</span>
        </div>
        <ul class="w-full flex flex-col items-center justify-items-center gap-3 mt-3 mb-20">
        <% @groups.each do |group| %>
            
                <li class="w-11/12 bg-white flex flex-row items-start p-3 gap-3 relative ">
                <img src=<%=group.icon %> class="w-1/4">
                <div class="flex flex-col gap-5">
                    <%= link_to group.name, group, class: 'text-text font-nova' %>
                    <p class="text-text-m font-extralight font-nova text-sm"> <%= group.created_at.strftime('%d %B %Y') %> </p>
                </div>
                <p class=" font-nova font-bold ml-5 absolute top-3 right-3">$<%=group.total_amount%></p>
                </li>
            
        <% end %>
        </ul>
        <div class="w-full fixed bottom-0 bg-second flex items-center justify-center ">
        <button class="w-11/12 bg-second text-center p-2 text-text-w rounded-sm font-nova mt-3 mb-3 border-2"> <%= link_to 'NEW CATEGORY', new_group_path %> </button>
        </div>
</div>