<div class="main-container">
    <div class="groups-container">
        <%= render 'shared/header', name: 'Categories' %>
        <% @groups.each do |group| %>
            <ul class="group">
                <li class="group-image">
                <div class="main-group-data">
                    <img src=<%=group.icon %>>
                    <%= link_to group.name, group, class: 'group-link' %>
                </div>
                <p class=group-total><%=group.total_amount%></p>
                </li>
            </ul>
        <% end %>
        <button class="new category"> <%= link_to 'New Category', new_group_path %> </button>
        
    </div>
</div>