<%= render 'shared/header', name: 'Transactions' %>
<div class="w-full flex flex-col justify-center items-center">
        <div class="bg-main flex flex-col items-center justify-items-center w-full">
            <p class="text-white font-nova">Most recent</p>
            <span class="text-white font-nova text-2xl">.</span>
        </div>
        <div class="bg-white flex flex-row justify-between w-full p-3">
            <h1 class="text-text-m font-nova font-bold"> <%= @group.name %> </h1>
            <p class="font-nova font-bold"> $<%= @group.total_amount %> </p>
        </div>
        <ul class="w-full flex flex-col items-center justify-items-center gap-3 mt-3  mb-20">
            <% @operations.each do |operation| %>
                
                        <li class="w-11/12 bg-white flex flex-row items-start p-3 gap-3 relative">
                            <div class="flex flex-col gap-5">
                                <h1 class="text-text font-nova"> <%= operation.name %> </h1>
                                <p class="text-text-m font-extralight font-nova text-sm"> <%= operation.created_at.strftime('%d %B %Y') %> </p>
                            </div>
                            <p class=" font-nova font-bold ml-5 absolute top-3 right-3">$<%=operation.amount%></p>
                        </li>
                
            <% end %>
        </ul>
        <div class="w-full fixed bottom-0 bg-second flex items-center justify-center ">
        <button class="w-11/12 bg-second text-center p-2 text-text-w rounded-sm font-nova mt-3 mb-3 border-2"> <%= link_to 'NEW TRANSACTION', new_group_operation_path(@group) %> </button>
        </div>
</div>