<%= render 'shared/header', name: 'New Transaction' %>
<%= form_with model: @operation, url: group_operations_path, class:"form" do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>
    <div class="field">
        <%= form.label :amount %>
        <%= form.number_field :amount, required: true, step: '0.01' %>
    </div>
    <div class="field">
        <%= form.label :group_id %>
        <%= form.collection_select :group_id, Group.all, :id, :name %>
  <div class="actions">
    <%= form.submit "Save" %>
  </div>
<% end %>